body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}


/* Flexbox for products */

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
}

.card {
    background: white;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.table-section {
    margin: 2rem;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

.form-section {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

form label {
    display: block;
    margin-bottom: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}